ENV=dev
JWT_AUDIENCE=gmb.ywfl.dev
JWT_ISSUER=gmb.ywfl.dev
JWT_SECRET=64symbolslongtext
MONGO_DATABASE=gmb
MONGO_HOST=mongo
MONGO_PORT=27017
PSQL_DATABASE=gmb
PSQL_HOST=psql
PSQL_PASSWORD=gmb
PSQL_USERNAME=gmb
PSQL_SSLMODE=disable
USE_PSQL=true